<div ng-controller="SidebarController" class="sidebar" sidebar-directive="state">
    <button id="navigation-toggle" ng-click="toggleState()" class="btn-sm"><span class="glyphicon glyphicon-th-list"></button>
    <ul class="navigation">
        <li class="navigation-items"> <a href="#/main">Item/SERVICE1</a> </li>
        <li class="navigation-items"> <a href="#/ca">CA</a> </li>
        <li class="navigation-items"> <a href="#/caaddress">CA Address</a> </li>
        <li class="navigation-items"> <a href="#/bundle">Bundle</a> </li>
    </ul>
</div>
